.register {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 56px 0 30px;
  transition: padding 1s;
}

.register__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 260px;
  width: 100%;
}

.register__title {
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  padding: 50px 0 60px;
}

.register__form {
  width: 100%;
  margin: 0 auto;
}

@media all and (min-width: 768px) {
  .register {
    padding: 232px 0;
  }

  .register__title {
    padding: 40px 0 20px;
    text-align: left;
    align-self: flex-start;
  }

  .register__container {
    max-width: 396px;
    align-items: flex-start;
  }
}

@media all and (min-width: 1280px) {
  .register {
    padding: 70px 0;
  }
}
