.auth-submit {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.auth-submit_type_login {
  padding: 267px 0 0;
}

.auth-submit_type_register {
  padding: 179px 0 0;
}

.auth-submit__error-text {
  color: #ff004c;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding-bottom: 20px;
}

.auth-submit__button {
  width: 100%;
  border-radius: 3px;
  background: #4285f4;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  border: none;
  padding: 15px 0;
  cursor: pointer;
}

.auth-submit__button:disabled {
  background: #272727;
  border: 0.5px dotted white;
  cursor: not-allowed;
}

.auth-submit__question {
  margin: 0;
  color: #8b8b8b;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  padding: 14px 0 0 0;
}

.auth-submit__link {
  text-decoration: none;
  color: #4285f4;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  padding-left: 7px;
}

@media all and (min-width: 768px) {
  .auth-submit_type_login {
    padding: 179px 0 0;
  }

  .auth-submit_type_register {
    padding: 91px 0 0;
  }

  .auth-submit__button {
    font-size: 14px;
  }

  .auth-submit__question {
    font-size: 14px;
    padding: 16px 0 0 0;
  }

  .auth-submit__link {
    font-size: 14px;
    padding-left: 6px;
  }
}
