.techs {
  padding: 70px 18px;
}

.techs__title {
  margin: 0;
  padding: 0 0 28px 0;
  border-bottom: 1px solid #000;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
}

.techs__subtitle {
  margin: 0;
  padding: 60px 0 0 0;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.2px;
}

.techs__description {
  margin: 0;
  padding: 24px 0 0 0;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.44px;
}

.techs__list {
  padding: 50px 0 0 0;
  margin: 0;
  list-style: none;
  align-items: center;
  display: grid;
  justify-content: center;
  gap: 10px;
  grid-template-columns: repeat(2, 84px);
}

.techs__item {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  padding: 21px 0;
  border-radius: 10px;
  background: #303030;
}

@media all and (min-width: 400px) {
  .techs {
    background-color: #272727;
  }

  .techs__list {
    grid-template-columns: repeat(auto-fit, 84px);
  }
}

@media all and (min-width: 768px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__title {
    font-size: 22px;
    letter-spacing: -0.88px;
    padding: 0 0 24px 0;
    border-bottom: 1px solid #dadada;
  }

  .techs__subtitle {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -2px;
    padding: 80px 0 0 0;
  }

  .techs__description {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
    padding: 22px 0 0 0;
    max-width: 460px;
    margin: auto;
  }

  .techs__list {
    padding: 83px 0 0 0;
    margin: 0;
    list-style: none;
    align-items: center;
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-columns: repeat(7, 84px);
  }
}

@media all and (min-width: 1280px) {
  .techs {
    padding: 100px 70px;
    max-width: 100%;
  }

  .techs__subtitle {
    padding: 90px 0 0 0;
  }

  .techs__description {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.56px;
    padding: 26px 0 0 0;
  }

  .techs__list {
    padding: 102px 0 0 0;
    grid-template-columns: repeat(7, 90px);
  }

  .techs__item {
    font-size: 14px;
    letter-spacing: -0.56px;
  }
}
