@import url(./vendor/normalize.css);
@import url(./vendor//fonts/fonts.css);

#body {
  background-color: #202020;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}
